@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Lobster&family=Manrope&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.text-primary {
  color: #ff5959;
}

.btn-primary {
  padding: 16px 12px;
  color: #fff;
  background: #ff5959;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  border: none;
}

/* Header styles */
.header {
  text-align: center;
  /* max-width: 1440px; */
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  background-image: url("../images/Rectangle.png");
  background-size: cover;
}

.header-section {
  padding: 175px 307px;
}

.header-title {
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  margin-bottom: 20px;
}

.header-subtitle {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 30px;
}

/* Section */
.section-title {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: #121212;
}

/* Donate style */
.donate {
  text-align: center;
  margin: 130px 337px;
}

.donate-title {
  margin-bottom: 20px;
}

.donate-subtitle {
  font-size: 18px;
  color: #707070;
  margin-bottom: 50px;
}

.donate-taka {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.donate-taka-item {
  background: #fafafa;
  border-radius: 5px;
  padding: 44px 23px;
  margin-bottom: 60px;
}

.donate .item {
  border: 2px solid #fafafa;
}

.donate .item:hover {
  color: #ff5959;
  background: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
}

.donate-amount {
  font-size: 18px;
  color: #b3b3b3;
  margin-bottom: 9px;
}

.donate hr {
  margin-bottom: 30px;
}

/* Plan styles */
.plan {
}

.plan-title {
  margin-bottom: 20px;
}

.plan-subtitle {
  text-align: center;
  margin-bottom: 50px;
}

.plan-section {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  margin: 0 157px;
}

.plan-item {
  padding: 54px 22px;
}

.plan-section .item1 {
  background: rgba(79, 157, 166, 0.1);
  border-radius: 5px;
}

.plan-section .item2 {
  background: rgba(255, 89, 89, 0.1);
  border-radius: 5px;
}

.plan-section .item3 {
  background: #fff4d6;
  border-radius: 5px;
}

.plan-item-title {
  margin-top: 30px;
  margin-bottom: 16px;
}

.plan-item-subtitle {
  color: #707070;
}

/* Depend style */
.depend {
  display: flex;
  gap: 83px;
  margin: 130px 252px 130px 156px;
}

.depend-section {
  padding: 80px 0;
}

.depend-title {
  font-weight: 700;
  font-size: 45px;
  color: #121212;
  margin-bottom: 20px;
}

.depend-subtitle {
  font-size: 18px;
  color: #707070;
}

.depend .title2 {
  margin-bottom: 30px;
}

.depend .title1 {
  margin-bottom: 20px;
}

.depend-img img {
  width: 456px;
  height: 477px;
  border-radius: 5px;
  object-fit: cover;
}

/* Update styles */
.update {
  text-align: center;
}

.update-section {
  margin: 0 375px;
}

.update-title {
  font-weight: 700;
  font-size: 45px;
  color: #121212;
  margin-bottom: 20px;
}

.update-subtitle {
  font-size: 18px;
  color: #707070;
  margin-bottom: 50px;
}

.input-section {
  padding: 76px 188px;
  background: #fff4d6;
  margin: 0 315px 130px;
}

.input-section input {
  font-weight: 500;
  color: #aa9f9f;
  background: #d9d9d9;
  border-radius: 5px 0px 0px 5px;
  border: none;
  padding: 14px;
}

.btn-sub {
  padding: 14px 12px;
  color: #fff;
  background: #ff5959;
  border-radius: 0 5px 5px 0;
  font-weight: 500;
  border: none;
  margin-left: -5px;
}

/* Footer style */
.footer {
  text-align: center;
  background: #0b0d17;
  padding: 43px;
}

.footer-section {
  margin: auto;
}

.footer-title {
  font-family: "Lobster", cursive;
  font-weight: 400;
  font-size: 36px;
  color: #ff5959;
  margin-bottom: 24px;
}

.footer-subtitle {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #d9dbe1;
}
